body{
    margin: 0;
    display: flex;
    background: radial-gradient(circle, #2a2a2a 0%, #000 100%);

    height: 100vh;
    align-items: center;
    flex-direction: column;
    

}

header{
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vw;
    width: 100vw;
}

#inpu{
    margin-top: 2em;
    background-color: rgb(165, 70, 70);
    height: 10em;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* sombra suave */
    transition: box-shadow 0.6s ease;
}

#inpu:hover{
    box-shadow: 0 4px 12px rgba(240, 209, 209, 0.8); /* sombra suave */
}

input{
    height: 1em;
    border-radius: 2em;
    padding: 1em;
    background-color: rgba(240, 248, 255, 0.253);
    border: 2px solid rgb(255, 255, 255);
    font-size: 2em;
    box-shadow: 0 4px 12px rgba(240, 209, 209, 0.4); /* sombra suave */
    transition: box-shadow 0.6s ease, border 0.5s ease;
}

input:hover{
    border: none;
    box-shadow: none;
}

input:focus{
    outline:none;
}

#tablero{
    display:flex;

}

#contador{
    justify-content: center;
    color:white;
}

.white{
    color:white;
    font-size: 2em;
}

#respuesta{
    height: 30em;
    width: 30em;
    margin-top: 2em;
    background-color: rgba(240, 248, 255, 0.267);
}

#pista{
    margin-top:1em;
    background-color: rgba(255, 255, 255, 0.137);
    height: 4em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: white;
    border-radius: 5px;

}

#intentos{
    margin-right: 2.3em;
}

#cont{
    margin-left: 2em;
}

.opaci{
    opacity: 1;
}

.imagen{
    border-radius: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}